<h2>Записаться</h2>
<p>На этой странице вы сможете записаться в наш барбер шоп</p>
<form action="/visit" method="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input id="bbb" name="username" type="text" class="form-control" placeholder="Введите ваше имя">
  </div>

  <div class="form-group">
    <label>Номер телефона</label>
    <input name="phone" type="text" class="form-control ccc" placeholder="Введите ваш номер телефона">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="aaa" name="date_time" type="text" class="form-control" placeholder="Введите дату и время">
  </div>
 	
  <label for="hairstylist">Выберите паркмахера</label>
 	  <select name="hairstylist" class="form-control ccc">
      <option value="none" selected>Выберите парикмахера...</option>
      <option value="Walter White">Walter White</option>
      <option value="Jessie Pinkman">Jessie Pinkman</option>
      <option value="Gus Fring">Gus Fring</option>
    </select>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script type="text/javascript"> 
$('#bbb').css('backgrond-color', 'blue');
$('#aaa').css('backgrond-color', 'yellow');
$('.ccc').css('backgrond-color', 'red');
</script>